<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <title>new paste</title>
  </head>
  <link rel="icon" href="./favicon.svg" type="image/svg+xml">
  <link rel='stylesheet' href='static/base.css' type='text/css' />
  <link rel='stylesheet' href='static/form.css' type='text/css' />

  <body class='form'>
    <form action='/' method='post'>
      <textarea name='p'
                autofocus
                placeholder='Paste content goes here...'></textarea>
      <div class='tools'>
        <a class='button' href='/'>&lt; Home</a>
        <button class='primary save'>
          Save
        </button>
      </div>
    </form>
  </body>
</html>
